* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3), transparent), url('char9.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    padding: 0 8%;
    position: relative;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.text-box {
    color: #fff;
    position: absolute;
    bottom: 8%;
    left: 100px;
}

.text-box p {
    font-size: 50px;
    font-weight: 600;
}

.text-box h1 {
    font-size: 150px;
    line-height: 160px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

.text-box h3 {
    font-size: 40px;
    font-weight: 500;
}

/* Splash screen */

.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
}

.logo-header {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    font-size: 50px;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

nav {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
}

nav .nav-content {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-45deg);
}

.nav-content .toggle-btn,
.nav-content span a {
    height: 60px;
    width: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.nav-content .toggle-btn {
    font-size: 35px;
    color: #0e2431;
    z-index: 100;
    cursor: pointer;
    transform: rotate(-315deg);
    transition: all 0.6 ease;
}

nav.open .toggle-btn {
    transform: rotate(0deg);
}

.nav-content span {
    position: absolute;
    transition: all 0.6 ease;
    opacity: 0;
}

nav.open .nav-content span {
    transform: rotate(calc(var(--i) * (360deg/8))) translateY(120px);
    opacity: 1;
}

.nav-content span a {
    text-decoration: none;
    transform: rotate(45deg);
}

.nav-content span a i {
    font-size: 24px;
    color: #0e2431;
    transform: rotate(calc(var(--i) * (360deg/-8)));
    opacity: 0.8;
    transition: 0.2s;
}

.nav-content span a:hover i {
    opacity: 1.5;
}

.box {
background-color: rgba(255, 255, 255, 0.3); /* Transparent background */
border-radius: 15px;
text-align: center;
color: #333;
font-size: 1.5rem;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}